
<center>
<div  class="signin-box" style="width:500px">
<% form_for(@user,:method=>"post",:url=>{:controller=>"Users",:action=>"update"},:html => { :multipart => true }) do |f| %>

<div class="err_msg">
	<% if @user.errors.count > 0 %>
		<%= f.error_messages :header_message =>nil, :message => nil %>
	<% end %>
</div>


<div style="color:Darkgreen;text-align:center;font-size:150%">Update details</div>
<table >
	<tr>
		<td class="des_right" nowrap>Name:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :name,:placeholder=>"name....."%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Occupation:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :occupation,:placeholder=>"occupation....."%></td>
	</tr>
	<tr>
		<td class="des_right">Gender:</td>
		<td class="des_left"><%=f.radio_button "gender","male" ,:checked=>true%>Male
					<%=f.radio_button "gender","female" %>Female</td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Age:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :age,:placeholder=>"age....."%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Email id:</td>

		<td class="des_left" style="font-size:50%"><%=f.text_field :email,:placeholder=>"valid email id....."%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Mobile No:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :mobile,:placeholder=>"mobile no....."%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Address:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_area :address,:size=>"30x5",:placeholder=>"address....."%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>change ur photo:</td>
		<td class="des_left" style="font-size:50%"><%=f.file_field :photo%></td>
	</tr>

	<tr>
		<td class="des_right" nowrap>User Name:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :username,:placeholder=>"username....."%></td>
	</tr>

	<tr>
		<td class="des_right">Password:</td>
		<td class="des_left"><%=password_field "user","password"%></td>
	</tr>
	<tr>
		<td class="des_right">Confirm Password:</td>
		<td class="des_left"><%=password_field "user","password_confirmation"%></td>
	</tr>

	<tr>
		<td colspan="2"><br/><center><%= f.submit "Save",:class=>"g-button-submit"%></center></td>
	</tr>
</table>
</div>
</center>
<%end%>			


