
<center>
<div class="err_msg" s>
<% if flash[:notice]%>
<%=flash[:notice]%>
<%end%>
</div>
<div class="signin-box"  >
<div id="div2" style="color:Steelblue">Sign in</div>
</br>
<div style="color:red;text-align:center;font-size:80%">Not a member yet? <span><%= link_to "Sign Up",{:controller=>"Users", :action=>"signup"},{:style=>'text-decoration:none;color:Steelblue'}%> now</span></div>
<% form_for :user do |f|%>
<table >
	<tr>
		<td class="des_right" nowrap>User Name:</td>
		<td class="des_left" style="font-size:50%"><%=f.text_field :username,:size=>18%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap>Password :</td>
		<td class="des_left" style="font-size:50%"><%=f.password_field :password,:size=>18%></td>
	</tr>
	<tr>
		<td class="des_right" nowrap><%=check_box_tag :remember%></td>
		<td class="des_left" style="font-size:90%">Remember me</td>
	</tr>

	<tr>
		<td colspan="2"><br/><center><%=f.submit "Sign in",:class=>"g-button-submit"%></center></td>
	</tr>
</table>
<%end%>
</div>
</center>

